<main class="main-container">
    <%- include("partials/header.ejs") %>
    
    <section class="weather-form">
        <h1 class="hero-desc">Access current weather data for <span>any location!</span></h1>
        <form action="/weather" method="post">
            <input class="form-input" type="text" name="city" placeholder="City Name">
            <button class="form-button" type="submit">Get Weather</button>
        </form>
    </section>
    
    <%- include("partials/footer.ejs") %>
</main>